<%= render 'layouts/alerts', notice: notice, alert: alert %>

<div id="new-user">
  <h2>利用者新規登録</h2>
  <div id="form_area">
    <%= form_for(@user, url: users_path, method: :post) do |f| %>
      <%= render('form', f: f) %>
      <div class="action">
        <% if session[:user_id] %>
          <%= link_to('戻る', users_path, class: 'btn') %>
        <% else %>
          <%= link_to('戻る', new_session_path, class: 'btn') %>
        <% end %>
        <%= submit_tag('登録', class: 'btn', data: { confirm: "入力した内容を登録します。\nよろしいですか？" }) %>
      </div>
    <% end %>
  </div>
</div>
