<table>
  <tbody>
    <tr>
      <% if params[:action] == 'new' %>
        <td>質問者名</td>
        <td><%= f.text_field(:created_user_name) %></td>
      <% elsif params[:action] == 'edit' %>
        <td>更新者名</td>
        <td><%= f.text_field(:updated_user_name) %></td>
      <% end %>
    </tr>
    <tr>
      <td>タイトル</td>
      <td><%= f.text_field(:title) %></td>
    </tr>
    <tr>
      <td>質問内容</td>
      <td><%= f.text_area(:question) %></td>
    </tr>
    <tr>
      <td>担当者</td>
      <td><%= f.text_field(:charge) %></td>
    </tr>
    <tr>
      <td>優先度</td>
      <td><%= f.select(:priority, options_for_select(priority_select_from)) %></td>
    </tr>
    <% if params[:action] == 'edit' %>
      <tr>
        <td>ステータス</td>
        <td><%= f.select(:status, options_for_select(status_select_from)) %></td>
      </tr>
    <% end %>
    <tr>
      <td>回答期限</td>
      <td><%= f.date_field(:limit_datetime) %></td>
    </tr>
  </tbody>
</table>
