<div id="question_index">
  <h2>質問一覧</h2></ br>
  <h3><%= link_to('新規登録', new_question_url)%></h3>
  <div class="search_area">
    検索条件
    <%= form_tag(questions_path, method: :get) do %>
      タイトル：
      <%= text_field_tag(:title, params[:title], style: "width:200px;") %>
      担当者：
      <%= text_field_tag(:charge, params[:charge], style: "width:100px;") %>
      ステータス：
      <%= select_tag(:status,
                     options_for_select(status_select_from, params[:status]),
                     include_blank: true,
                     style: "width:100px;") %>
      回答期限：
      <%= text_field_tag(:limit_datetime, params[:limit_datetime], style: "width:100px;") %>
      <%= submit_tag('検索', class: 'btn') %>
      <%= button_tag('リセット', type: :reset, class: 'btn') %>
    <% end %>
  </div>
  <div class="list_area"> 
    検索結果
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>タイトル</th>
          <th>担当者</th>
          <th>優先度</th>
          <th>回答期限</th>
          <th>ステータス</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td style="width: 20px;"><%= question.id %></td>
          <td style="width: 300px;"><%= question.title %></td>
          <td style="width: 100px;" ><%= question.charge %></td>
          <td style="width: 50px;"><%= priority_name(question.priority) %></td>
          <td style="width: 100px;"><%= question.limit_datetime.strftime('%Y/%m/%d') %></td>
          <td style="width: 50px;" ><%= question.status %></td>
          <td style="width: 100px;">
            <%= link_to('詳細', question_path(question)) %> ｜
            <%= link_to('削除', question_path(id: question.id, confirm_delete: 'true')) %>
          </td>
        <tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
