<div id="question_show">
  <h2>質問詳細</h2>
  <%= link_to('編集', edit_question_url(@question)) %>
  <div class="question_area">
    <table>
      <tbody>
        <tr>
          <td class="title">タイトル</td>
          <td><%= @question.title %></td>
        </tr>
        <tr>
          <td class="title" style="height: 200px;">質問内容</td>
          <td><%= simple_format(@question.question)%></td>
        </tr>
        <tr>
          <td class="title">担当者</td>
          <td><%= @question.charge %></td>
        </tr>
        <tr>
          <td class="title">優先度</td>
          <td><%= priority_name(@question.priority) %></td>
        </tr>
        <tr>
          <td class="title">ステータス</td>
          <td><%= status_name(@question.status) %></td>
        </tr>
        <tr>
          <td class="title">回答期限</td>
          <td><%= @question.limit_datetime.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="title">質問者</td>
          <td><%= @question.created_user_name  %></td>
        </tr>
        <tr>
          <td class="title">質問日</td>
          <td><%= @question.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d') %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to("回答する", new_question_answer_url(@question)) %>
  <h3>回答一覧</h3>
  <div class="answers_area">
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>回答内容</th>
          <th>回答者</th>
          <th>回答日</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td style="width: 20px;"><%= answer.id %></td>
          <td style="width: 300px;"><%= answer.answer %></td>
          <td style="width: 100px;" ><%= answer.created_user_name %></td>
          <td style="width: 100px;"><%= answer.created_at.strftime('%Y/%m/%d') %></td>
          <td style="width: 130px;">
            <%= form_for(answer, url: question_answer_path(@question, answer), method: 'delete') do |f| %>
              <%= link_to('編集', edit_question_answer_url(@question, answer)) %> ｜
              <%= f.submit('削除する') %>
            <% end %>
          </td>
        <tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to('戻る', questions_path)%>
