<%= render 'layouts/alerts', notice: notice, alert: alert %>

<div id="new-answer">
  <h2>回答新規登録</h2>
  <div id="form_area">
    <%= form_for(@answer, url: question_answers_path(@question), method: :post) do |f| %>
      <%= render('form', f: f) %>
      <div class="action">
        <%= link_to('戻る', question_path(@question), class: 'btn') %>
        <%= submit_tag('登録', class: 'btn', data: { confirm: "入力した内容を登録します。\nよろしいですか？" }) %>
      </div>
    <% end %>
  </div>
</div>
