<!DOCTYPE html>
<html>
<head>
  <title>QAndA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>質問管理表アプリ</h1>
  <% if session[:user_id] %>
    <%= link_to('ログアウト', session_path, method: 'delete', class: 'btn') %>
  <% end %>
<%= yield %>

</body>
</html>
